/* My Work section */

.my-work {
  background-color: var(--color-dark);
  color: var(--color-light);
  text-align: center;
}

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: auto;
}

.box_col {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  height: auto;
}

.portfolio__item {
  margin: 5px;
  padding: auto;
  width: 70%;
  height: auto;
}
