/* My Work section */

.my-work {
  background-color: var(--color-dark);
  color: var(--color-light);
  text-align: center;
}

.portfolio {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.box_col {
  display: flex;
  justify-content: space-evenly;
}

.portfolio__item {
  margin: 5px;
  padding: auto;
}
